extends layout

block content
  .container-fluid
    .row-fluid.menu
      .span12
        h1 Drawwww
        p share something new!
    .row-fluid
      .span3.toolbar
        h3 color
          .current-color.swatch
        h3 palette
        table.palette
          tbody
            tr
              td.swatch.swatch1
              td.swatch.swatch2
              td.swatch.swatch3
              td.swatch.swatch4
              td.swatch.swatch5
              td.swatch.swatch6
            tr
              td.swatch.swatch7
              td.swatch.swatch8
              td.swatch.swatch9
              td.swatch.swatch10
              td.swatch.swatch11
              td.swatch.swatch12
        h3 size
        #size-slider
        h3 opacity
        #opacity-slider
        h3 tool
        .btn-group#tools
          button.btn brush
          button.btn.active eraser
          button.btn line
          button.btn eyedrper
      .span6.surface
        canvas(width='500', height='500', id='drawwwwCanvas')

      #colorModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='colorModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
          h3 Pick a color
        .modal-body
          form
            input#color(type='text', value='#ff0000')
          #colorpicker
        .modal-footer
          button.btn(data-dismiss='modal', aria-hidden='true') Close
          button#set-color.btn.btn-primary Set Color
