body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2b2b2b !important;
}
a {
  color: #2febd5;
}
.swatch {
  -moz-box-shadow: 2px 2px 3px #999999;
  -webkit-box-shadow: 2px 2px 3px #999999;
  box-shadow: 2px 2px 3px #999999;
  width: 32px;
  height: 32px;
  border: 1px solid #c0c0c0;
}
.palette {
  border-collapse: collapse;
  border-spacing: 0em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.current-color {
  width: 32px;
  height: 32px;
  background-color: #000000;
}
.toolbar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px 20px 10px 10px;
}
.menu {
  color: #ffffff !important;
}
.surface {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 500px !important;
  height: 500px !important;
}
.surface-thumb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  margin: 2px;
}
#container {
  position: relative;
}
#bufferCanvas {
  position: absolute;
  top: 1px;
  left: 1px;
}
.detailform {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 470px;
  margin: 10px;
  padding: 20px;
}
.logo {
  color: #2febd5;
  font-family: 'Permanent Marker';
}
.logo:hover {
  text-decoration: none;
  color: #bbf8f1;
}
.logo-sub {
  display: inline;
  margin-top: -10px;
  letter-spacing: 1px;
  color: #f65aca;
  font-family: 'PT Sans';
}
.options {
  margin-top: 10px;
  width: 500px;
}
.form-inline .btn-primary {
  margin-right: 5px;
}
.form-inline .input-small {
  margin-right: 10px;
  width: 160px;
}
.details {
  text-align: center;
  width: 500px;
  margin: 10px;
  font-family: 'Permanent Marker';
  font-size: 200%;
  color: #f65aca;
}
.details .user {
  font-family: 'PT Sans';
  font-size: 75%;
  color: #ffffff;
  display: inline;
}
.swatch1 {
  background-color: #3be708;
}
.swatch2 {
  background-color: #38aee5;
}
.swatch3 {
  background-color: #f74a88;
}
.swatch4 {
  background-color: #ff8f00;
}
.swatch5 {
  background-color: #dcff33;
}
.swatch6 {
  background-color: #138654;
}
.swatch7 {
  background-color: #e21208;
}
.swatch8 {
  background-color: #d879dc;
}
.swatch9 {
  background-color: #622f13;
}
.swatch10 {
  background-color: #ffffff;
}
.swatch11 {
  background-color: #8f8f8f;
}
.swatch12 {
  background-color: #000000;
}
#size-slider .ui-slider-range {
  background: #2febd5;
}
#size-slider .ui-slider-handle {
  border-color: #2febd5;
}
#opacity-slider .ui-slider-range {
  background: #f65aca;
}
#opacity-slider .ui-slider-handle {
  border-color: #f65aca;
}
