// Colors 
@lightblu: #0544EE;
@gray: #c0c0c0;
@lightgray: #dbdbdb;
@darkgray: #2b2b2b;
@white: #ffffff;
@black: #000000;

// Palette colors
@swatch1: #3be708;
@swatch2: #38aee5;
@swatch3: #f74a88;
@swatch4: #ff8f00;
@swatch5: #dcff33;
@swatch6: #138654;
@swatch7: #e21208;
@swatch8: #d879dc;
@swatch9: #622f13;
@swatch10: #ffffff;
@swatch11: #8f8f8f;
@swatch12: #000000;

// Size
@border-radius: 4px;
@canvas-size: 500px;

// Web fonts
@logo-font-family: 'Permanent Marker';
@logo-color: #2FEBD5;
@logo-sub-font-family: 'PT Sans';
@logo-sub-color: #f65aca;

.rounded-corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @darkgray !important;
}

a {
  color: #00B7FF;
}

.palette {
  border: 1px solid @gray;
  .rounded-corners;
}

table.palette td {
  width: 32px;
  height: 32px;
  border: 1px solid @gray;
}

.current-color {
  width: 32px;
  height: 32px; 
  border: 1px solid @gray;
  background-color: @black;
}

.toolbar {
  .rounded-corners;
  background-color: @white;
  padding: 10px;
}

.menu {
  color: @white !important;
} 

.surface {
  .rounded-corners;
  background-color: @white;
  width: @canvas-size !important;
  height: @canvas-size !important;
}

#container {
  position: relative;
}

#bufferCanvas {
  position: absolute;
  top: 1px;
  left: 1px;
}

.detailform {
  .rounded-corners;
  background-color: @white;
  width: 470px; // total width totals canvas size
  margin: 10px;
  padding: 20px;
}

.logo {
  color: @logo-color;
  font-family: @logo-font-family;
}

.logo-sub {
  margin-top: -10px;
  letter-spacing:1px;
  color: @logo-sub-color;
  font-family: @logo-sub-font-family;
}
.swatch1 { background-color: @swatch1; }
.swatch2 { background-color: @swatch2; }
.swatch3 { background-color: @swatch3; }
.swatch4 { background-color: @swatch4; }
.swatch5 { background-color: @swatch5; }
.swatch6 { background-color: @swatch6; }
.swatch7 { background-color: @swatch7; }
.swatch8 { background-color: @swatch8; }
.swatch9 { background-color: @swatch9; }
.swatch10 { background-color: @swatch10; }
.swatch11 { background-color: @swatch11; }
.swatch12 { background-color: @swatch12; }

#size-slider .ui-slider-range { background: #8ae234; }
#size-slider .ui-slider-handle { border-color: #8ae234; }
