// Colors 
@lightblu: #0544EE;
@gray: #c0c0c0;
@lightgray: #dbdbdb;
@darkgray: #2b2b2b;
@white: #ffffff;

// Palette colors
@swatch1: #3be708;
@swatch2: #38aee5;
@swatch3: #f74a88;
@swatch4: #ff8f00;
@swatch5: #dcff33;
@swatch6: #138654;
@swatch7: #e21208;
@swatch8: #d879dc;
@swatch9: #622f13;
@swatch10: #ffffff;
@swatch11: #8f8f8f;
@swatch12: #000000;

// Size
@border-radius: 4px;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @darkgray !important;
}

a {
  color: #00B7FF;
}

.palette {
  border: 1px solid @gray;
  -webkit-border--radius: @border-radius;
  border-radius: @border-radius;
  -moz-border-radius: @border-radius;
}

table.palette td {
  width: 32px;
  height: 32px;
  border: 1px solid @gray;
}

.current-color {
  width: 32px;
  height: 32px; 
  border: 1px solid @gray;
}

.toolbar {
  background-color: @white;
  padding: 10px;
}

.menu {
  color: @white !important;
} 

.surface {
  background-color: @white;
  padding: 10px;
}

.swatch1 { background-color: @swatch1; }
.swatch2 { background-color: @swatch2; }
.swatch3 { background-color: @swatch3; }
.swatch4 { background-color: @swatch4; }
.swatch5 { background-color: @swatch5; }
.swatch6 { background-color: @swatch6; }
.swatch7 { background-color: @swatch7; }
.swatch8 { background-color: @swatch8; }
.swatch9 { background-color: @swatch9; }
.swatch10 { background-color: @swatch10; }
.swatch11 { background-color: @swatch11; }
.swatch12 { background-color: @swatch12; }

#size-slider .ui-slider-range { background: #8ae234; }
#size-slider .ui-slider-handle { border-color: #8ae234; }
