body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2b2b2b !important;
}
a {
  color: #00B7FF;
}
.palette {
  border: 1px solid #c0c0c0;
  -webkit-border--radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
table.palette td {
  width: 32px;
  height: 32px;
  border: 1px solid #c0c0c0;
}
.current-color {
  width: 32px;
  height: 32px;
  border: 1px solid #c0c0c0;
}
.toolbar {
  background-color: #ffffff;
  padding: 10px;
}
.menu {
  color: #ffffff !important;
}
.surface {
  background-color: #ffffff;
  padding: 10px;
}
.swatch1 {
  background-color: #3be708;
}
.swatch2 {
  background-color: #38aee5;
}
.swatch3 {
  background-color: #f74a88;
}
.swatch4 {
  background-color: #ff8f00;
}
.swatch5 {
  background-color: #dcff33;
}
.swatch6 {
  background-color: #138654;
}
.swatch7 {
  background-color: #e21208;
}
.swatch8 {
  background-color: #d879dc;
}
.swatch9 {
  background-color: #622f13;
}
.swatch10 {
  background-color: #ffffff;
}
.swatch11 {
  background-color: #8f8f8f;
}
.swatch12 {
  background-color: #000000;
}
#size-slider .ui-slider-range {
  background: #8ae234;
}
#size-slider .ui-slider-handle {
  border-color: #8ae234;
}
